/* Imprting Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgb(185, 96, 185), rgb(206, 181, 206));
}

.chatbot-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 8px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: blueviolet;
  transition: all 0.2s ease;
}

body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler span {
  position: absolute;
  color: #ffff;
}

body.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
  opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot-popup {
  position: fixed;
  right: 35px;
  bottom: 60px;
  width: 420px;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.2);
  transform-origin: bottom right;
  pointer-events: none;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 black;
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease;
}

body.show-chatbot .chatbot-popup {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: blueviolet;
  align-items: center;
}

.material-symbols-rounded {
  margin-right: 6px;
}

/* Body chat */
.chat-body {
  max-height: 80vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 6px;
  font-size: 1.2em;
  font-weight: 600;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccccf5 transparent;
  scroll-behavior: smooth;
}

.message {
  display: flex;
  padding: 20px 0;
  width: 100%;
}

.message.bot-message .message-text {
  background-color: rgb(209, 203, 209);
  padding: 0 8px 14px;
  border-radius: 13px 13px 13px 3px;
}

.message.user-message .message-text {
  border-radius: 6px 13px 3px 13px;
}

.message.user-message {
  display: flex;
  border-radius: 13px 3px 13px 13px;
  flex-direction: column;
  align-items: flex-end;
}

.message.user-message .attachment {
  width: 50%;
  margin-top: -4px;
  border-radius: 13px 3px 13px 13px;
}

.message .message-text {
  background-color: darkorchid;
  width: auto;
  height: auto;
  padding: 6px 8px;
  margin-bottom: 4px;
}

.message .bot-message .thinking {
  background-color: rgb(161, 20, 161);
}

.thinking-indikator {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: cornflowerblue;
  border-radius: 10px;
  opacity: 0;
  animation: dot-blink 1.2s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dot-blink {
  0%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(1px);
  }
  40% {
    opacity: 1;
    transform: translateY(-1px);
  }
}

/* Enter pesan */
.chat-footer {
  display: flex;
  width: 100%;
  position: absolute;
  background-color: transparent;
  bottom: 0;
  border-radius: 0 0 8px 8px;
}

.chat-form {
  display: flex;
  width: 100%;
  margin: 8px;
  min-height: 30px;
  border-radius: 10px;
  overflow: hidden;
  /* position: relative; */
  align-items: center;
  border: 1px solid black;
  background-color: #ffff;
}

.chat-form .file-upload-wrapper {
  width: 36px;
  height: 30px;
  position: relative;
}

.chat-form .file-upload-wrapper :where(img, button) {
  position: absolute;
}

.chat-form .file-upload-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
}

.chat-form .file-upload-wrapper #file-cancel {
  color: #ff0000;
  background-color: #ffff;
}

.chat-form .file-upload-wrapper :where(img, #file-cancel),
.chat-form .file-upload-wrapper.file-uploaded #file-upload {
  display: none;
}

.chat-form .file-upload-wrapper.file-uploaded img,
.chat-form .file-upload-wrapper.file-uploaded:hover #file-cancel {
  display: block;
}

.chat-form .message-input {
  max-height: 150px;
  overflow-y: auto;
  white-space: pre-line;
  width: 100%;
  font-size: 1.4em;
  outline: none;
  padding: 10px 10px 0 10px;
  border: none;
  border-radius: inherit;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.chat-form .message-input:hover {
  scrollbar-color: #ccccf5 transparent;
}

.message-input::placeholder {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  line-height: 30px;
}

.chat-control {
  display: flex;
  float: right;
}

.chat-control .material-symbols-rounded {
  font-size: 28px;
}

em-emoji-picker {
  position: absolute;
  left: 50%;
  top: -337px;
  width: 100%;
  max-width: 350px;
  max-height: 330px;
  visibility: hidden;
  transform: translateX(-50%);
}

body.show-emoji-picker em-emoji-picker {
  visibility: visible;
}

/* Responsif */
@media screen and (max-width: 520px) {
  #chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }

  .chatbot-popup {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .chatbot-popup .chat-header {
    padding: 12px 15px;
  }

  .chat-body {
    height: calc(90% - 55px);
    padding: 25px 15px;
  }

  .chat-footer {
    padding: 10px 15px 15px;
  }

  .chat-form .file-upload-wrapper.file-uploaded #file-cancel {
    opacity: 0;
  }
}
