*,
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100vh;
  padding: 0.5em 1.25em;
}

.container {
  width: 100%;
  height: calc(100vh - 10%);
  padding: 0.3em;
  border-radius: 8px;
  background-color: #131111;
  position: relative;
  transform: translateX(20px);
  transition: transform 0.5s ease-in-out;
}

.heading {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.heading .logo {
  display: flex;
  width: 35px;
  height: 35px;
  margin: 4px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border-radius: 50%;
}

.heading .close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  margin: 20px 4px 4px 4px;
  border-radius: 0.2em;
  cursor: pointer;
}

.heading .close:hover {
  background-color: #e7e2e2;
}

.list-menu {
  margin-top: 0.7em;
}

.list-menu .material-symbols-rounded {
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 1em;
  padding: 12px 10px;
  font-size: 2em;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.list-menu .material-symbols-rounded:hover {
  background-color: #ffffff;
  color: #000000;
}

.item {
  color: white;
  cursor: pointer;
  margin-left: 0.2em;
}

.item:hover {
  color: #000000;
}

.list-profil {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.6em;
}

.list-profil .material-symbols-rounded {
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 1em;
  padding: 10px 10px 10px 0.1em;
  font-size: 2em;
  width: 95%;
  transition: background-color 0.3s ease-in-out;
}

.list-profil .material-symbols-rounded:hover {
  background-color: #ffffff;
  color: #000000;
}
