* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
}

/* Gaya Nav dan Container */
nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: #131111;
  transition: transform 0.5s ease-in-out;
  /* transform: translateX(-100%);  */
}

nav.active {
  transform: translateX(0); /* Tampilkan nav saat menu dibuka */
}

.container {
  padding: 0.3em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Gaya Heading */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.heading .logo {
  display: flex;
  width: 35px;
  height: 35px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border-radius: 50%;
}

.heading .menu {
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer;
  display: none;
}

.heading .menu:hover {
  background-color: #ffffff;
  color: #000000;
}

/* List Menu */
.list-menu {
  margin-top: 1em;
}

.list-menu .material-symbols-rounded {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 12px;
  font-size: 1.7em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-menu .material-symbols-rounded:hover {
  background-color: #ffffff;
  color: #000000;
}

.item:hover {
  background-color: #ffffff;
  color: #000000;
}

.item {
  margin-left: 0.5em;
  color: white;
  font-size: 0.9em;
}

/* Profil dan Logout */
.list-profil {
  margin-top: auto;
  padding: 0.6em;
}

.list-profil .material-symbols-rounded {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 10px 0;
  font-size: 1.7em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-profil .material-symbols-rounded:hover {
  background-color: #ffffff;
  color: #000000;
}

.tutup {
  display: none;
}

/* Responsif */
@media screen and (max-width: 768px) {
  .heading .menu {
    display: block; /* Tampilkan menu di mobile */
  }
  nav {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  nav {
    transform: translateX(0); /* Tampilkan nav di layar besar */
  }
  .heading .close {
    display: none; /* Close tidak perlu di desktop */
  }
}
